@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:wght@300&display=swap');

$font1: "Inter", sans-serif;
$font2: "Merriweather", serif;
$black1: rgb(17,17,17);
$white1: rgb(243,243,243);
$grey1: rgb(209,209,209);
$grey2: rgb(233,233,233);
$grey3: rgb(105,105,105);

@mixin title{
    font-family: $font1;
    letter-spacing: 2px;
    text-transform: uppercase;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a, a:visited{
    color: $white1;
    text-decoration: none;
}
body{
    background: url(../images/bg.jpg) fixed center/cover;
    text-align: center;
    font-family: $font2;
    max-width: 1300px;
    margin: 0 auto;

    &:before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: $black1;
        animation: animBefore 1.5s ease forwards;
        animation-delay: 0.15s;

        @keyframes animBefore{
            to{
                opacity: 0;
            }
        }
    }
}
.btn{
    background: none;
    border: 2px solid $black1;
    border-radius: 0;
    height: 45px;
    width: 170px;
    font-size: 0.75rem;
    font-weight: 800;
    cursor: pointer;
    @include title;
    transition: 0.2s;

    &:hover{
        border: 2px solid $black1;
        transform: scale(1.05);
    }
}